@font-face {
  font-family: "Graphik Compact Web";
  src: url("https://fonts.wsna.org/fonts/GraphikCompact-Regular-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/GraphikCompact-Regular-Web.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik Compact Web";
  src: url("https://fonts.wsna.org/fonts/GraphikCompact-RegularItalic-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/GraphikCompact-RegularItalic-Web.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Graphik Compact Web";
  src: url("https://fonts.wsna.org/fonts/GraphikCompact-Medium-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/GraphikCompact-Medium-Web.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik Compact Web";
  src: url("https://fonts.wsna.org/fonts/GraphikCompact-Semibold-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/GraphikCompact-Semibold-Web.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik Compact Web";
  src: url("https://fonts.wsna.org/fonts/GraphikCompact-SemiboldItalic-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/GraphikCompact-SemiboldItalic-Web.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Graphik Compact Web";
  src: url("https://fonts.wsna.org/fonts/GraphikCompact-Bold-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/GraphikCompact-Bold-Web.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Graphik Compact Web";
  src: url("https://fonts.wsna.org/fonts/GraphikCompact-BoldItalic-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/GraphikCompact-BoldItalic-Web.woff")
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Graphik Compact Web";
  src: url("https://fonts.wsna.org/fonts/GraphikCompact-Black-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/GraphikCompact-Black-Web.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Graphik Compact Web";
  src: url("https://fonts.wsna.org/fonts/GraphikCompact-Super-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/GraphikCompact-Super-Web.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url("https://fonts.wsna.org/fonts/Graphik-Regular-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/Graphik-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url("https://fonts.wsna.org/fonts/Graphik-RegularItalic-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/Graphik-RegularItalic-Web.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Graphik Web";
  src: url("https://fonts.wsna.org/fonts/Graphik-Semibold-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/Graphik-Semibold-Web.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url("https://fonts.wsna.org/fonts/Graphik-SemiboldItalic-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/Graphik-SemiboldItalic-Web.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Produkt Web";
  src: url("https://fonts.wsna.org/fonts/Produkt-Light-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/Produkt-Light-Web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Produkt Web";
  src: url("https://fonts.wsna.org/fonts/Produkt-Regular-Web.woff2")
      format("woff2"),
    url("https://fonts.wsna.org/fonts/Produkt-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
